.anjuta/
.tm_project2.cache
aclocal.m4
autom4te.cache/
Makefile
config.h
config.log
config.status
gtranscode.desktop.in
libtool
po/Makefile
po/Makefile.in
po/POTFILES
po/en_GB.gmo
po/fr.gmo
po/stamp-it
src/.deps/
src/Makefile
src/gtranscode
src/gtranscode-gst-handlers.o
src/gtranscode-transcode.o
src/gtranscode-ui-handlers.o
src/main.o
stamp-h1
intltool-update
intltool-merge
intltool-extract
