*
!.gitignore
!COPYING
!INSTALL
!Makefile.am
!TODO.tasks
!acconfig.h
!acinclude.m4
!autogen.sh
!config.guess
!config.h.in
!config.sub
!configure.in
!depcomp
!gtranscode.anjuta
!gtranscode.desktop.in
!gtranscode.glade
!gtranscode.gladep
!include/Makefile.am
!include/gtranscode.h
!install-sh
!ltmain.sh
!missing
!mkinstalldirs
!po/ChangeLog
!po/Makefile.in.in
!po/POTFILES.in
!setup-gettext
!src/Makefile.am
!src/gtranscode-gst-handlers.c
!src/gtranscode-transcode.c
!src/gtranscode-ui-handlers.c
!src/main.c
!stamp-h.in
